# 0.0 Imports

In [39]:
import pandas as pd
import inflection

## 0.1. HELPER FUNCTIONS

## 0.2 LOADING DATA

In [15]:
df_sales_raw = pd.read_csv('data/train.csv', low_memory=False) ## false é para consumir com carga total da memoria
df_store_raw = pd.read_csv('data/store.csv', low_memory=False) ## false é para consumir com carga total da memoria

# merge 
df_raw = pd.merge ( df_sales_raw, df_store_raw, how='left', on='Store')

In [16]:
df_raw.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
371505,580,6,2014-08-09,8279,1375,1,0,0,0,a,c,170.0,2.0,2009.0,0,NaN,NaN,NaN

# 1.0 DESCRICAO DOS DADOS

In [23]:
df1 = df_raw.copy()

## 1.1. RENAME COLUMNS

In [43]:
##df1.columns

In [44]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore (x)

cols_new = list(map( snakecase, cols_old)) #map ele faz mapeamento de todas as palavras por coluna e vai levar como list
df1.columns = cols_new

## 1.2. DATA DIMENSIONS

In [35]:
print( 'Number of Rows: {}'. format(df1.shape[0]))
print( 'Number of Cols: {}'. format(df1.shape[1]))

Number of Rows: 1017209
Number of Cols: 18

## Data Types

In [41]:
df1['date'] = pd.to_datetime(df1['date'])
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## Check NA

In [42]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64